<!-- <div class="container">
  <h1>keg entry</h1>
  <form>
    <div>
      <label for="name">Name</label>
      <input #newName type="text" required>
    </div>
    <div>
      <label for="brand">brand</label>
      <input #newBrand type="text" required>
    </div>
    <div>
      <label for="abv">ABV</label>
      <input #newAbv type="number" required>
    </div>
    <div>
      <label for="price">Price</label>
      <input #newPrice type="number" required>
    </div>
    <button (click)="submitForm(newName.value, newBrand.value, newAbv.value, newPrice.value); newName.value=''; newBrand.value=''; newAbv.value=''; newPrice.value='';">Tap it!</button>
  </form>
  <div>
    <h2>KEGS:</h2>
    <keg-form (newKegSender)="addKeg($event)"></keg-form>
  </div>
</div> -->
