<h1>Tap new keg</h1>
<keg-form (newKegSender)="addKeg($event)"></keg-form>
<h1>Kegs on tap:</h1>
<ul *ngFor="let currentKeg of masterKegList">
  <li>name: {{currentKeg.name}}</li>
  <li>Brand: {{currentKeg.brand}}</li>
  <li>ABV: {{currentKeg.abv}}%</li>
  <li>Price: ${{currentKeg.price}} per pint/ ${{currentKeg.price * 5}} per pitcher</li>
  <li>Left in keg: {{currentKeg.volume}} pints</li>
  <button (click)="subtractVolume(masterKegList.indexOf(currentKeg), 1)">buy a pint!</button>
  <button (click)="subtractVolume(masterKegList.indexOf(currentKeg), 5)">buy a pitcher</button>
</ul>
